In [2]:
import pandas as pd
import numpy as np
df=pd.read_csv("C:\\Users\\prati\\Desktop\\Ashish\\complete.csv")

# Q.1 Display the first 10 and last 10 records of the dataset.

In [8]:
df.head(10)

,Date,Name of State / UT,Latitude,Longitude,Total Confirmed cases,Death,Cured/Discharged/Migrated,New cases,New deaths,New recovered
0,2020-01-30,Kerala,10.8505,76.2711,1.0,0,0.0,0,0,0
1,2020-01-31,Kerala,10.8505,76.2711,1.0,0,0.0,0,0,0
2,2020-02-01,Kerala,10.8505,76.2711,2.0,0,0.0,1,0,0
3,2020-02-02,Kerala,10.8505,76.2711,3.0,0,0.0,1,0,0
4,2020-02-03,Kerala,10.8505,76.2711,3.0,0,0.0,0,0,0
5,2020-02-04,Kerala,10.8505,76.2711,3.0,0,0.0,0,0,0
6,2020-02-05,Kerala,10.8505,76.2711,3.0,0,0.0,0,0,0
7,2020-02-06,Kerala,10.8505,76.2711,3.0,0,0.0,0,0,0
8,2020-02-07,Kerala,10.8505,76.2711,3.0,0,0.0,0,0,0
9,2020-02-08,Kerala,10.8505,76.2711,3.0,0,0.0,0,0,0

In [9]:
df.tail(10)

,Date,Name of State / UT,Latitude,Longitude,Total Confirmed cases,Death,Cured/Discharged/Migrated,New cases,New deaths,New recovered
4682,2020-08-06,Puducherry,11.9416,79.8083,4433.0,65,2668.0,286,0,131
4683,2020-08-06,Punjab,31.1471,75.3412,19856.0,491,12943.0,841,0,452
4684,2020-08-06,Rajasthan,27.0238,74.2179,47272.0,745,33849.0,593,0,1017
4685,2020-08-06,Sikkim,27.5330,88.5122,800.0,1,303.0,17,0,4
4686,2020-08-06,Tamil Nadu,11.1271,78.6569,273460.0,4461,214815.0,5175,0,6031
4687,2020-08-06,Telangana,18.1124,79.0193,73050.0,589,52103.0,2092,0,1289
4688,2020-08-06,Tripura,23.9408,91.9882,5725.0,31,3793.0,97,0,68
4689,2020-08-06,Uttar Pradesh,26.8467,80.9462,104388.0,1857,60558.0,4078,0,3287
4690,2020-08-06,Uttarakhand,30.0668,79.0193,8254.0,98,5233.0,246,0,386
4691,2020-08-06,West Bengal,22.9868,87.8550,83800.0,1846,58962.0,2816,0,2078

## Q.2 Find the total number of unique States / UTs present in the file.

In [12]:
df["Name of State / UT"].nunique()

40

## Q.3 Check for missing (NaN) values in each column

In [18]:
df.isna().sum()

Date                         0
Name of State / UT           0
Latitude                     0
Longitude                    0
Total Confirmed cases        0
Death                        0
Cured/Discharged/Migrated    0
New cases                    0
New deaths                   0
New recovered                0
dtype: int64

## Q.4 Convert the Date column into datetime format and extract year and month.

In [19]:
df["Date"] = pd.to_datetime(df["Date"])
df["Year"] = df["Date"].dt.year
df["Month"] = df["Date"].dt.month

In [22]:
df[["Year","Month"]]

      Year  Month
0     2020      1
1     2020      1
2     2020      2
3     2020      2
4     2020      2
...    ...    ...
4687  2020      8
4688  2020      8
4689  2020      8
4690  2020      8
4691  2020      8

[4692 rows x 2 columns]

## Q.5 Find the total confirmed cases in India (sum of Total Confirmed cases).

In [31]:
df["Total Confirmed cases"].unique().sum()

51568747.0

## Q.6 Calculate the total deaths and total recovered cases.

In [33]:
df["Death"].astype("int")

ValueError: invalid literal for int() with base 10: '0#'

In [35]:
df["Death"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 4692 entries, 0 to 4691
Series name: Death
Non-Null Count  Dtype
--------------  -----
4692 non-null   object
dtypes: object(1)
memory usage: 36.8+ KB

In [3]:
df[df["Death"].str.contains("#")]

,Date,Name of State / UT,Latitude,Longitude,Total Confirmed cases,Death,Cured/Discharged/Migrated,New cases,New deaths,New recovered
2241,2020-05-24,Puducherry,11.9416,79.8083,26.0,0#,10.0,0,0,0

In [4]:
df["Death"]=df["Death"].replace("0#", 0)

In [5]:
df["Death"] = df["Death"].astype(int)

In [6]:
df["Death"].dtypes

dtype('int32')

In [7]:
df["Death"].sum()

1366398

In [8]:
df["New recovered"].sum()

1328160

## Q.7 Find the state-wise total confirmed cases.

In [57]:
dg=df.groupby("Name of State / UT")

In [8]:
for i,j in df.groupby("Name of State / UT"):
    print(f"{i} ---> {j["Total Confirmed cases"].sum()}")

Andaman and Nicobar Islands ---> 13569.0
Andhra Pradesh ---> 2742054.0
Arunachal Pradesh ---> 32082.0
Assam ---> 1003558.0
Bihar ---> 1277395.0
Chandigarh ---> 42812.0
Chhattisgarh ---> 256589.0
Dadra and Nagar Haveli and Daman and Diu ---> 26209.0
Delhi ---> 5766124.0
Goa ---> 150799.0
Gujarat ---> 2730710.0
Haryana ---> 1161598.0
Himachal Pradesh ---> 80549.0
Jammu and Kashmir ---> 685423.0
Jharkhand ---> 282717.0
Karnataka ---> 2733901.0
Kerala ---> 596758.0
Ladakh ---> 57213.0
Madhya Pradesh ---> 1291485.0
Maharashtra ---> 15192247.0
Manipur ---> 84000.0
Meghalaya ---> 17980.0
Mizoram ---> 13335.0
Nagaland ---> 45006.0
Odisha ---> 831767.0
Puducherry ---> 82967.0
Punjab ---> 539968.0
Rajasthan ---> 1622247.0
Sikkim ---> 13897.0
Tamil Nadu ---> 7847083.0
Telangana ---> 1644466.0
Telangana*** ---> 52466.0
Telengana ---> 103292.0
Tripura ---> 141618.0
Union Territory of Chandigarh ---> 2.0
Union Territory of Jammu and Kashmir ---> 26.0
Union Territory of Ladakh ---> 58.0
Uttar Pradesh ---> 2462456.0
Uttarakhand ---> 231641.0
West Bengal ---> 1602230.0

## Q.8 Find the state-wise total deaths.

In [28]:
for i,j in df.groupby("Name of State / UT"):
    print(f"{i} ---> {j["Death"].value_counts().sum()}")

Andaman and Nicobar Islands ---> 130
Andhra Pradesh ---> 144
Arunachal Pradesh ---> 122
Assam ---> 124
Bihar ---> 134
Chandigarh ---> 135
Chhattisgarh ---> 137
Dadra and Nagar Haveli and Daman and Diu ---> 89
Delhi ---> 154
Goa ---> 130
Gujarat ---> 136
Haryana ---> 152
Himachal Pradesh ---> 135
Jammu and Kashmir ---> 135
Jharkhand ---> 124
Karnataka ---> 147
Kerala ---> 186
Ladakh ---> 135
Madhya Pradesh ---> 135
Maharashtra ---> 147
Manipur ---> 132
Meghalaya ---> 111
Mizoram ---> 131
Nagaland ---> 69
Odisha ---> 140
Puducherry ---> 138
Punjab ---> 147
Rajasthan ---> 152
Sikkim ---> 71
Tamil Nadu ---> 149
Telangana ---> 51
Telangana*** ---> 1
Telengana ---> 102
Tripura ---> 118
Union Territory of Chandigarh ---> 2
Union Territory of Jammu and Kashmir ---> 12
Union Territory of Ladakh ---> 14
Uttar Pradesh ---> 152
Uttarakhand ---> 141
West Bengal ---> 128

In [26]:
df.groupby("Name of State / UT")["Death"].value_counts().sum()

4692

## Q.9 Calculate the average daily new cases for the entire dataset.

In [30]:
df["New cases"].mean()

418.6430093776641

## Q.10 Find the maximum number of new cases reported in a single day.

In [31]:
df["New cases"].max()

18366

## Q.11 Identify the top 5 States/UTs with the highest total confirmed cases.

In [42]:
df.groupby("Name of State / UT")["Total Confirmed cases"].sum().sort_values(ascending=False).head(5)

Name of State / UT
Maharashtra       15192247.0
Tamil Nadu         7847083.0
Delhi              5766124.0
Andhra Pradesh     2742054.0
Karnataka          2733901.0
Name: Total Confirmed cases, dtype: float64

## Q.12 Identify the top 5 States/UTs with the highest total deaths.

In [61]:
df.groupby("Name of State / UT")["Death"].sum().sort_values(ascending=False).head(5)

Name of State / UT
Maharashtra      587648
Delhi            171177
Gujarat          137790
Tamil Nadu       111765
Uttar Pradesh     56959
Name: Death, dtype: int32

## Q.13 Find the state with the highest recovery count.

In [67]:
df.groupby("Name of State / UT")["New recovered"].sum().sort_values(ascending=False).head(1)

Name of State / UT
Maharashtra    305521
Name: New recovered, dtype: int64

In [76]:
dim=df.groupby("Name of State / UT")["New recovered"].sum().idxmax()
dm=df.groupby("Name of State / UT")["New recovered"].sum().max()
print(f"{dim}--->{dm}")

Maharashtra--->305521

## Q.14 Calculate the death rate (%) for each State/UT (Death / Total Confirmed cases × 100).

In [85]:
death_rate = (df.groupby("Name of State / UT")[["Death","Total Confirmed cases"]].sum())
death_rate["Death_Rate_%"] = (death_rate["Death"] / death_rate["Total Confirmed cases"]) * 100

In [86]:
death_rate["Death_Rate_%"]

Name of State / UT
Andaman and Nicobar Islands                 0.471663
Andhra Pradesh                              1.114493
Arunachal Pradesh                           0.286765
Assam                                       0.230978
Bihar                                       0.664399
Chandigarh                                  1.466878
Chhattisgarh                                0.509375
Dadra and Nagar Haveli and Daman and Diu    0.175512
Delhi                                       2.968667
Goa                                         0.604779
Gujarat                                     5.045940
Haryana                                     1.320939
Himachal Pradesh                            0.897590
Jammu and Kashmir                           1.615207
Jharkhand                                   0.878971
Karnataka                                   1.873550
Kerala                                      0.402006
Ladakh                                      0.221978
Madhya Pradesh                              3.673368
Maharashtra                                 3.868078
Manipur                                     0.051190
Meghalaya                                   1.023359
Mizoram                                     0.000000
Nagaland                                    0.133316
Odisha                                      0.497495
Puducherry                                  1.429484
Punjab                                      2.389586
Rajasthan                                   1.992668
Sikkim                                      0.071958
Tamil Nadu                                  1.424287
Telangana                                   1.066486
Telangana***                                0.867228
Telengana                                   2.885993
Tripura                                     0.257029
Union Territory of Chandigarh               0.000000
Union Territory of Jammu and Kashmir        0.000000
Union Territory of Ladakh                   0.000000
Uttar Pradesh                               2.313097
Uttarakhand                                 1.162575
West Bengal                                 3.180130
Name: Death_Rate_%, dtype: float64

## Q.15 Calculate the recovery rate (%) for each State/UT.

In [16]:
newtot=df["New recovered"].sum()
for i,j in df.groupby("Name of State / UT"):
    print(f"{i} ---> {np.ceil((j["New recovered"].sum())/newtot*100)}%")

Andaman and Nicobar Islands ---> 1.0%
Andhra Pradesh ---> 8.0%
Arunachal Pradesh ---> 1.0%
Assam ---> 3.0%
Bihar ---> 4.0%
Chandigarh ---> 1.0%
Chhattisgarh ---> 1.0%
Dadra and Nagar Haveli and Daman and Diu ---> 1.0%
Delhi ---> 10.0%
Goa ---> 1.0%
Gujarat ---> 4.0%
Haryana ---> 3.0%
Himachal Pradesh ---> 1.0%
Jammu and Kashmir ---> 2.0%
Jharkhand ---> 1.0%
Karnataka ---> 6.0%
Kerala ---> 2.0%
Ladakh ---> 1.0%
Madhya Pradesh ---> 2.0%
Maharashtra ---> 24.0%
Manipur ---> 1.0%
Meghalaya ---> 1.0%
Mizoram ---> 1.0%
Nagaland ---> 1.0%
Odisha ---> 2.0%
Puducherry ---> 1.0%
Punjab ---> 1.0%
Rajasthan ---> 3.0%
Sikkim ---> 1.0%
Tamil Nadu ---> 17.0%
Telangana ---> 4.0%
Telangana*** ---> 0.0%
Telengana ---> 1.0%
Tripura ---> 1.0%
Union Territory of Chandigarh ---> 0.0%
Union Territory of Jammu and Kashmir ---> 0.0%
Union Territory of Ladakh ---> 0.0%
Uttar Pradesh ---> 5.0%
Uttarakhand ---> 1.0%
West Bengal ---> 5.0%

## Q.16 Find the date on which maximum new cases were reported in India.

In [34]:
newcases = df.groupby("Date")["New cases"].sum()
max_date = newcases.idxmax()
max_cases = newcases.max()
print(f"{max_date}==> {max_cases}")

2020-07-18==> 70962

## Q.17 Calculate the monthly total new cases using groupby on month.

In [35]:
df["Date"] = pd.to_datetime(df["Date"])
df["New cases"] = pd.to_numeric(df["New cases"], errors="coerce")
df["Year_Month"] = df["Date"].dt.to_period("M")
monthly_new_cases = df.groupby("Year_Month")["New cases"].sum()
print(monthly_new_cases)

Year_Month
2020-01          0
2020-02          2
2020-03       1303
2020-04      31696
2020-05     143597
2020-06     382975
2020-07    1079034
2020-08     325666
Freq: M, Name: New cases, dtype: int64

## Q.18 Find the daily growth in confirmed cases using diff().

In [36]:
df["Date"] = pd.to_datetime(df["Date"])
df["Total Confirmed cases"] = pd.to_numeric(df["Total Confirmed cases"], errors="coerce")
daily_confirmed = (df.groupby("Date")["Total Confirmed cases"].sum().sort_index())
daily_growth = daily_confirmed.diff()
print(daily_growth)

Date
2020-01-30        NaN
2020-01-31        0.0
2020-02-01        1.0
2020-02-02        1.0
2020-02-03        0.0
               ...
2020-08-02    54735.0
2020-08-03    52972.0
2020-08-04    52050.0
2020-08-05    52509.0
2020-08-06    56282.0
Name: Total Confirmed cases, Length: 186, dtype: float64

## Q.19 List all records where New cases > 10,000.

In [51]:
df[df["New cases"] > 10000]

,Date,Name of State / UT,Latitude,Longitude,Total Confirmed cases,Death,Cured/Discharged/Migrated,New cases,New deaths,New recovered,Year_Month
3529,2020-07-02,Maharashtra,19.7515,75.7139,180298.0,8053,93154.0,10415,0,4194,2020-07
3599,2020-07-05,Maharashtra,19.7515,75.7139,200064.0,8671,108082.0,13438,0,6910,2020-07
3634,2020-07-07,Maharashtra,19.7515,75.7139,211987.0,9026,115262.0,11923,0,7180,2020-07
4019,2020-07-18,Maharashtra,19.7515,75.7139,292589.0,11452,160357.0,16949,0,7744,2020-07
4190,2020-07-23,Maharashtra,19.7515,75.7139,337607.0,12556,187769.0,10576,0,5552,2020-07
4307,2020-07-26,West Bengal,22.9868,87.8550,56377.0,1332,35654.0,18366,0,13401,2020-07
4413,2020-07-30,Andhra Pradesh,15.9129,79.7400,120390.0,1213,55406.0,10093,0,2784,2020-07
4448,2020-07-31,Andhra Pradesh,15.9129,79.7400,130557.0,1281,60024.0,10167,0,4618,2020-07
4466,2020-07-31,Maharashtra,19.7515,75.7139,411798.0,14729,248615.0,11147,0,8860,2020-07
4483,2020-08-01,Andhra Pradesh,15.9129,79.7400,140933.0,1349,63864.0,10376,0,3840,2020-08
4501,2020-08-01,Maharashtra,19.7515,75.7139,422118.0,14994,256158.0,10320,0,7543,2020-08
4658,2020-08-06,Andhra Pradesh,15.9129,79.7400,186461.0,1681,104354.0,10128,0,8729,2020-08
4676,2020-08-06,Maharashtra,19.7515,75.7139,468265.0,16476,305521.0,10309,0,6165,2020-08

## Q.20 Find all States/UTs which reported zero new deaths on any day.

In [53]:
df[df["New deaths"] == 0]

,Date,Name of State / UT,Latitude,Longitude,Total Confirmed cases,Death,Cured/Discharged/Migrated,New cases,New deaths,New recovered,Year_Month
0,2020-01-30,Kerala,10.8505,76.2711,1.0,0,0.0,0,0,0,2020-01
1,2020-01-31,Kerala,10.8505,76.2711,1.0,0,0.0,0,0,0,2020-01
2,2020-02-01,Kerala,10.8505,76.2711,2.0,0,0.0,1,0,0,2020-02
3,2020-02-02,Kerala,10.8505,76.2711,3.0,0,0.0,1,0,0,2020-02
4,2020-02-03,Kerala,10.8505,76.2711,3.0,0,0.0,0,0,0,2020-02
...,...,...,...,...,...,...,...,...,...,...,...
4687,2020-08-06,Telangana,18.1124,79.0193,73050.0,589,52103.0,2092,0,1289,2020-08
4688,2020-08-06,Tripura,23.9408,91.9882,5725.0,31,3793.0,97,0,68,2020-08
4689,2020-08-06,Uttar Pradesh,26.8467,80.9462,104388.0,1857,60558.0,4078,0,3287,2020-08
4690,2020-08-06,Uttarakhand,30.0668,79.0193,8254.0,98,5233.0,246,0,386,2020-08
4691,2020-08-06,West Bengal,22.9868,87.8550,83800.0,1846,58962.0,2816,0,2078,2020-08